.ItemList {
  display: grid;

  .card {
    .item-title {
      h6 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  // @include media-breakpoint-up(xxl) {
  //   grid-template-columns: repeat(5, 1fr);
  // }
}
