$primary: #334155;
$secondary: #e2e8f0;
$light: #fafafa;
$dark: #e4e4e7;

$input-bg: #e4e4e7;
$input-border-color: $input-bg;

$border-radius: 0.5rem;
$border-radius-sm: 0.4rem;
$border-radius-lg: 0.6rem;

$font-family-sans-serif: 'Inter', sans-serif;
